body {
    font-family: 'Roboto' , sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    
    
    
}
.section-1{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.header{
    display: flex;
    justify-content: space-around;
    
}
ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #f9faf8;
}
.logo{
    font-size: 24px;
    color: #E5E7EB;
}
.section-1 .contener{
    display: flex;
    justify-content: center;
    gap: 16px;

}
.hero_text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.hero_main_text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero_secondary_text{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 4px 16px;
    
}
.section-1 .image{
    padding: 100px ;
    background-color: gray;
}
.information{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 2.5rem;
}
.section-2 .contener{
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;

}
.section-2 .image{
    padding: 50px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}
.text{
    width: 100px;
    
}
.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #E5E7EB;
    padding: 100px;
    width: ;
}
.section-3 .quote{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    
}
.section-3 .writer{
    display: flex;
    align-self: flex-end;
    
}
.section-4{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: #f9faf8;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}
.section-4 button{
    border-color: #f9faf8;
}
footer{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
}